<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>PetalPal needs Bluetooth access to connect to your plant sensors and monitor their health.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>MadimiOne-Regular.ttf</string>
	</array>
</dict>
</plist>
